* {
	padding: 0;
	margin: 0;
}

body {
	color:D4D4D4;
	font-family: Verdana;
	font-size: 14px;
}

main {
	width: 1280px;
	margin: 0 auto;
}
header {
	padding: 55px 160px 120px 160px;
	background-color: #222222;
}
a {
	color: #D4D4D4;
	text-decoration: none;
}

ol,ul {
	list-style-type: none;
}

nav {
	display: flex;
	justify-content: space-between;
}

ol {
	display: flex;
	align-items: center;
}

ol li {
	margin-right: 30px;
}

a.logo {
	margin-right: 60px;
}

nav ul {
	display: flex;
	align-items: center;
}

nav ul li {
	margin-left: 24px;
}

.header-bot {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
}

.div-header-bot {
	width: 255px;
	margin-left: 125px;
	margin-top: 100px;
}

.div-header-bot h1{
	color: FFFFFF;
	font-size: 44px;
	font-family: "Courier New";
	font-weight: bold;
}

.div-header-bot p {
	margin-top: 30px;
	margin-bottom: 55px;
}

.button-header {
	width: 240px;
	height: 50px;
	display: flex;
	justify-content: space-around;
	background-color: #FFCB06;
	color: #000000;
	align-items: center;
	border-radius: 25px;
}

.button-header:hover {
	background-color: D4D4D4;
}

a:hover {
	color: #FFCB06;
}

.content { 
	padding: 85px 165px 80px 165px;
	background-color: #131313;
	display: flex;
	justify-content: space-between;
}

.content div {
	width: 172px
}

.content div p{ 
	margin-top: 35px;
}

.advantage {
	padding: 80px 160px 125px 160px;
	background-color: #FFFFFF;
	color: #000000;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.advantage div {
	width: 440px;
}

.advantage h2 {
	font-size: 24px;
	font-family: "Courier New";
} 

.adv-h2 {
	margin-bottom: 45px;
}

.advantage div p {
	margin-top: 33px;
}

.adv-div {
	margin-top: 50px;
}

.adv-div ul li {
	margin-top: 30px;
	margin-left: 30px;
	position: relative;
}

.adv-div ul li span {
	font-weight: bold;
}

.adv-div ul li:before {
	content: "";
	width: 8px;
	height: 8px;
	background-color: #FFCB06;
	position: absolute;
	border-radius: 50%;
	left: -27px;
	top: 8;
}

footer { 
	padding: 60px 160px 85px 160px;
	background-color: #131313;
	display: flex;
	justify-content: space-between;
}

footer div {
	 width: 180px;
	 display: flex;
	 flex-direction: column;
 }


footer div h2 {
	font-size: 14px;
	font-family: Verdana;
	margin-bottom: 40px;
	padding-bottom: 10px;
	border-bottom: 1px solid #555555;
}

footer div a {
	margin-top: 30px;
	color:#888888;
}

.div-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.div-footer div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.div-footer div span {
	margin-left: 15px;
}

.div-footer p {
	color: #555555;
}














